html {
  font-size: 16px;
  font-family: Helvetica;
  color: dimgray;
}


/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.colmar {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
.colmar img {
  height: 3rem;
}

.colmar-name {
  height: 2rem;
}

.colmar h4 {
  font-family: Verdana, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.colmar h4 span {
  color: #43cea2;
  font-weight: 400;
}

nav {
  margin-right: 2rem;
}

nav a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 765px) {
  nav {
    display: none;
  }

  .mobile {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-right: 1.5rem;
  }

  .mobile img {
    height: 2rem;
    padding: 0 .75rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 4rem;
  }

  .colmar-name {
    display: none;
  }

.colmar img {
  height: 2.5rem;
}
  .mobile {
    width: 70%;
  }
}

/* Banner */

.banner {
  background: linear-gradient(to right, #43cea2, #185a9d);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.banner-main {
  padding: 2.5rem 2rem;
  width: 60%;
}

.banner img {
  width: 100%;
}

.banner-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem .5rem 2.5rem 0;
}

.banner-text {
  margin-right: 1.5rem;
}

.banner-text h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.banner-text h4 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

button {
  margin-right: 1.5rem;
  background-color: #43cea2;
  border: none;
  width: 96%;

}

button a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

button:hover {
  background-color: #FF8D53;
  transition: background-color 1s linear;
}

button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
}

@media only screen and (max-width: 1160px) {
  .banner-text h1 {
    font-size: 3.25rem;
  }

  .banner-text h4 {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 1018px) {
  .banner-text h1 {
    font-size: 3rem;
  }

  .banner-text h4 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 877px) {
  .banner-main {
    padding: 2rem 1.5rem;
  }

  .banner-right {
    padding: 2rem 0rem 2rem 0;
  }

  .banner-text h1 {
    font-size: 2.5rem;
  }

  .banner-text h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 765px) {
  .banner {
    flex-direction: column;
  }

  .banner-main {
    width: 100%;
    padding: 0;
  }

  .banner-right {
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .banner-text {
    width: 90%;
    margin: 2rem auto .75rem auto;
  }

  button {
    width: 90%;
    margin: .75rem auto 2rem auto;
    background-color: #FF8D53;
  }

}

@media only screen and (max-width: 480px) {
  .banner-text h1 {
    font-size: 2rem;
  }

  .banner-text h4 {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

/* Section 1 */

.section {
  display: flex;
}

.container-left {
  padding: 2.5rem 2rem;
  width: 60%;
}

.container-left img {
  width: 100%;
}

.container-left h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

.author {
  font-size: .75rem;
  margin: 2rem 0;
}


.container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  border-left: 1px solid #43cea2;
}

.mobile-pic {
  display: none;
}

.story {
  display: flex;
  margin-top: 1rem;
}

.story:last-child {
  background: linear-gradient(to right, #43cea2, #185a9d);
  color: white;
}

.story-image {
  width: 35%;
  padding: 1.5rem;
}

.story-image img {
  width: 100%;
}

.story-text {
  width: 65%;
  align-self: center;
}

.story-text h4 {
  font-size: 2rem;
}

.story-text a {
    color: #185a9d;
    text-decoration: none;
}

.story-text h4,
.story-text p,
.story-text a {
  margin: 1rem 0;
  padding-right: 1rem;
}

.story:last-child a {
  color: #FF8D53;
}

@media only screen and (max-width: 1188px) {
  .container-left {
    width: 50%;
  }
  .container-right {
    width: 50%;
    }
}

@media only screen and (max-width: 976px) {
  .container-left {
    width: 40%;
  }
  .container-right {
    width: 60%;
    }
}

@media only screen and (max-width: 814px) {
  .story-image {
    width: 40%;
    padding: 1rem;
  }
  .story-text {
    width: 60%;
    align-self: flex-start;
  }
}

@media only screen and (max-width: 782px) {
  .section {
    flex-direction: column;

  }

  .container-left {
    background: url("../images/information-main.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 0;
  }

  #container-left-text {
    background-color: dimgray;
    opacity: 0.9;
    color: white;
    padding: 1rem;
  }

  .container-left img {
    display: none;
  }

  .container-right {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .story {
    width: 50%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .story:last-child {
    width: 100%;

  }

  .story:last-child .desktop-pic {
    display: none;
  }

  .story:last-child .mobile-pic {
    display: flex;
  }

  .story-image {
    width: 85%;
    margin: 0.5rem auto 0 auto;
  }

  .story:last-child .story-image {
    width: 90%;
  }

  .story-text {
    width: 90%;
    margin: 0 auto 0.5rem auto;
  }

  .story-text h4 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .container-left {
    display: none;
  }

  .container-right {
    flex-direction: column;
    width: 100%;
  }

  .story {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .story-image {
    width: 92%;
    padding: 1rem 0;
  }

  .desktop-pic {
    display: none;
  }

  .mobile-pic {
    display: flex;
  }

  .story-text {
    width: auto;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    align-self: flex-start;
  }

  .story-text h4 {
    margin-top: 0;
  }

  .story-text p, a {
    margin: .75rem 0;
  }
}

/* Courses Section */

.gallery {
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
}

.gallery h2 {
  font-size: 3rem;
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
  color: dimgray;
}

.courses {
  margin: 2rem 4.5rem;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}

.course {
  background-color: white;
  width: 30%;
  margin-bottom: 2rem;
}

.course h5 {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.course:hover {
  background: linear-gradient(to right, #43cea2, #185a9d);
  color: white;
  transition: all 0.25s linear;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.uppercase {
  margin: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.course p {
  margin: 0.5rem 1rem 1.5rem 1rem;
  line-height: 1.4;
}

.course img {
  width: 100%;
}

@media only screen and (max-width: 790px) {
  .courses {
    margin: 2rem;
  }

  .course {
    width: 40%;
  }
}

@media only screen and (max-width: 595px) {
  .courses {
    margin: 2rem;
  }

  .course {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .gallery h2 {
    font-size: 2rem;
  }

  .courses {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
  }

  .course {
    width: 90%;
  }

  .course:active {
    position: relative;
    top: 2px;
  }

  .course img,
  .course p {
    display: none;
  }

}

/* Thesis exhibit and Video */

.thesis-header {
  width: 100%;
}
.thesis-section h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.thesis {
  display: flex;
}

.thesis-left {
  padding: 2.5rem 2rem;
  width: 60%;
}
.thesis-video video {
  width: 100%;
}

.thesis-video-text h3 {
  margin: 1.5rem 0 1rem 0;
  font-size: 2.5rem;
}

.thesis-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.thesis-story {
  display: flex;
  margin-top: 1rem;
}

.thesis-story:first-child {
  background: linear-gradient(to right, #43cea2, #185a9d);
  color: white;
}

.thesis-story-image {
  width: 35%;
  padding: 1.5rem;
}

.thesis-story-image img {
  width: 100%;
}

.thesis-story-text {
  width: 65%;
  align-self: center;
  padding-right: 1rem;
}

.thesis-story-text h4 {
  font-size: 2rem;
  line-height: 1.4;
}

@media only screen and (max-width: 977px) {
  .thesis {
    flex-direction: column;
  }

  .thesis-left {
    width: 90%;
    padding: 0;
    margin: 1.25rem auto;
  }

  .thesis-right {
    flex-direction: row;
    width: 100%;
    border-top: 1px solid dimgray;
  }

  .thesis-story {
      width: 50%;
      margin-top: 0;
  }

  .thesis-story:first-child {
    background: white;
    color: black;
  }

  .thesis-story-image {
    width: 40%;
  }

  .thesis-story-text {
    width: 55%;
  }
}

@media only screen and (max-width: 719px) {
  .thesis-video-text,
  .thesis-right {
    display: none;
  }
}

@media only screen and (max-width: 480px) {

  .thesis-header {
    margin: 2rem auto 1rem;
  }
  .thesis-section h2 {
    font-size: 2rem;
  }

  .thesis-left {
    width: 100%;
    padding: 0;
  }
}

/* Footer */
footer {
  background-color: #27829F;
  padding: 2rem 1.5rem 5rem 1.5rem;
}

.copyterms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.copyright {
  width: 33%;
  color: white;
}

.social {
  width: 33%;
  color: white;
  text-align: center;
}

.social i {
  padding: 0 1rem;
}

.terms {
  width: 33%;
  text-align: right;
}

.terms a {
  text-decoration: none;
  color: white;
  padding: 0 1rem;
}

@media only screen and (max-width: 480px) {
  .copyright {
    width: 100%;
  }

  .social,
  .terms {
    display: none;
  }
}
