body {
  font-size: 16px;
  font-family: Helvetica;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.colmar {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
  border: 1px solid red;
}

nav {
  margin-right: 2rem;
}

nav a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

/* Banner */

.banner {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.banner-main {
  margin: 0;
  padding: 2.5rem 2rem;
  width: 60%;
  border: 1px solid red;
}

.banner img {
  width: 100%;
}

.banner-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-text {
  margin-right: 1.5rem;
  border: 1px solid blue;
}

.banner-text h1 {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.banner-text h4 {
  font-size: 2rem;
  color: grey;
  margin-bottom: 1.5rem;
}

button {
  margin-right: 1.5rem;
  background-color: gray;
  color: white;
  border: none;
  width: 96%;
  font-size: 1rem;
  padding: 0.5rem 0;
}

button h4 {
}
